@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&display=swap');

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

ul > li {
    list-style: none;
}

a {
    text-decoration: none;
}

@media screen and  (max-width:821px) {
    .main{
        height: 100%;
        width: 100%;
    }
}

@media screen and (max-width:414px) {
    * {
        margin-left: 100px;
        margin-right: auto;
    }
  }